[recommend="underline"] {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: dotted;
}

.fuzzy[recommend="underline"] {
  text-decoration-color:  gray !important;
}
