[recommend="underline"] {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: dotted;
}

.fuzzy-word-match[recommend="underline"] {
  text-decoration-color:  gray !important;
}
.partial-word-match[recommend="underline"] {
  text-decoration-color:  lightgray !important;
}
